<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>MR Cocktails!</h1>
      <p>Best cocktails</p>

      <%= link_to 'See all cocktails', cocktails_path, class: 'btn btn-primary' %>

      <%= cl_image_tag("me9yvsg8mwckbo0b70pi",
      width: 400, height: 300, crop: :fill) %>

    </div>
  </div>
</div>
